* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
  }
  body {
    background-color: aliceblue;
    font-family: sans-serif;
  }
  nav {
    height: 50px;
    line-height: 30px;
    background: rgb(67, 70, 240);
  }
.h-h2{
    line-height: 50px;
    float: left;
    color: #fff;
    margin-left: 30px;
}  
.h-liste {
    list-style: none;
    text-decoration: none;
    margin-right: 100px;
    float: right;

}
.h-li{
    padding: 10px;
    float: right;
}
.h-link{
    text-decoration: none;
    color: #fff;
}
.h-link:hover{
    color: red;
}
h1{
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}
a{
  text-decoration: none;
  color: blue;
}